<div class="container">
  <div>
    <form class="sign-up-card" #signupForm="ngForm">
      <h2 class="heading">SIGN UP</h2>

      <label class="label">Email</label>
      <input type="email" name="email"
          placeholder="Enter email address" [(ngModel)]="email"
            class="formInput" maxlength="60" required/>
      
      <label class="label">Password</label>
      <input type="password" name="password"
          placeholder="Enter email address" [(ngModel)]="password"
            class="formInput" maxlength="60" required/>
      
      
            
      <label class="label">Display Name</label>
      <input type="text" name="displayName"
          placeholder="Enter email address" [(ngModel)]="displayName"
            class="formInput" maxlength="60" required/>
      
      <button [disabled]="!signupForm.form.valid"
              type="submit" (click)="signUp()" 
              class="btn" id="btn-signUp">
              Sign Up
            </button>

    </form>
  </div>
</div>